@model SchoolTimeTable.Data.LoginModelInput

@{
    ViewBag.Title = "User Login";
}
@if (TempData["message"] != null)
{
  <p>@TempData["message"]</p>
}
<main class="form-signin w-100 m-auto">
  <form asp-action="LoginUser" method="post">
    <h1 class="h3 mb-3 fw-normal">User Login Form</h1>

    <div class="form-floating">
      <label asp-for="UserName">Username</label>
      <input asp-for="UserName" class="form-control" placeholder="Enter your username" />
      <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-floating">
      <label asp-for="Password">Password</label>
      <input type="password" asp-for="Password" class="form-control" />
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    
    <button class="btn btn-primary w-100 py-2" type="submit">Sign In</button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
  </form>
</main>